/* css reset */
*{ margin:0;padding:0 }
body{ background:#f2f2f2; }

/* iframe宽度设置 */
.my_header,.my_footer{ width:100%; }
/* 手写媒体查询，控制iframe的宽高 */
/* 小屏 */
@media screen and (max-width:767px){
    .my_header{ height:12rem; }
    .my_footer{ height:45rem; }
}
/* 中屏 */
@media screen and (min-width:768px) and (max-width:991px){
    .my_header{ height:12rem; }
    .my_footer{ height:30rem; }
}
/* 大屏 */
@media screen and (min-width:992px){
    .my_header{ height:8rem; }
    .my_footer{ height:18rem; }
}

/* 通用字号 */
.my_small{ font-size:0.8rem; }