/* 手写媒体查询，控制iframe的宽高 */
/* 小屏 */
@media screen and (max-width:767px){
    .my_header{ height:12rem; }
    .my_footer{ height:45rem; }
}
/* 中屏 */
@media screen and (min-width:768px) and (max-width:991px){
    .my_header{ height:12rem; }
    .my_footer{ height:30rem; }
}
/* 大屏 */
@media screen and (min-width:992px){
    .my_header{ height:8rem; }
    .my_footer{ height:18rem; }
}

/* 重写轮播图指示器样式 */
.carousel-indicators li{
    background-color:#222
}
.carousel-indicators li.active{
    background-color:#aaa
}

/* 重写轮播图左右箭头样式 */
.carousel-control-prev,
.carousel-control-next{
    width:5%;height:13%;
    top:40%;
    background-color:rgba(0,0,0,0.3);
    border-radius:50%;
}
.carousel-control-prev{
    left:3%;
}
.carousel-control-next{
    right:3%;
}

/* 推荐商品样式 */
/* 图片尺寸 */
.commend_img{
    width:35rem;
}
/* 标题样式 */
.commend_title{
    font-size:1.17rem;
    font-weight:bold;
}
/* 副标题样式 */
.commend_sub_title{
    font-size:0.9rem;
}
/* 底部推荐标题样式 */
.commend_title_bottom{
    font-size:1.17rem;
    font-weight:bold;
    text-align:center;
}
/* 底部推荐副标题样式 */
.commend_sub_title_bottom{
    font-size:0.9rem;
    text-align:center;
    margin-bottom:6rem;
}